@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #F3F3F5;
  font-family: 'Lato', sans-serif;
}

:root {
  --toggle-bg-on: #26B7CD;
  --toggle-border-on: #26B7CD;
  --toggle-border-off: #CACACA;
  --toggle-bg-off: #CACACA;
  --toggle-width: 60px;
  --toggle-height: 25px;
}

.toggle {
  border-radius: 0 !important;
  border: 5px solid #26B7CD !important;
}

.toggle-off {
  border: 5px solid #CACACA !important;
}

.toggle-handle {
  border-radius: 0 !important;
  height: 24px !important;
  width: 24px !important;
}

.btn {
  height: 40px;
  padding: 0px 16px 0px 16px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: #26B7CD;
  color: #fff !important;
}

.btn-secondary {
  background-color: #767676;
}

.btn-transparant {
  background-color: transparent;
  color: #26B7CD;
  font-size: 14px;
}

.btn-switch {
  color: #767676;
  height: 65px;
  border-radius: 10px;
  width: 185px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-text {
  height: 40px;
  width: 100%;
  border: 1px solid #CACACA;
  margin-top: 3px;
  padding: 0;
}

.inputs label {
  margin-bottom: 15px;
  display: block;
}

.error {
  color: red;
  display: block;
  margin-top: 3px;
}